@page "/login"

<div class="content px-4 col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form">
        <fieldset>
            <h2>Please Sign In</h2>
            <hr class="colorgraph">
            <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" required placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" required placeholder="Password">
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" id="btnLogin" class="btn btn-lg btn-primary btn-block" value="Sign In" onclick="login()" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="register" class="btn btn-lg btn-light btn-block">Register</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@functions{

    protected override async Task OnAfterRenderAsync()
    {
        await WebApp.Client.Services.JsInterop.AfterRenderLogin();
    }
}